{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'gas/style.css' %}">

    <title>Cafluity | Real Gas</title>
  </head>
  <body>

    <div class="container py-1">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <a class="text-decoration-none" href="ideal-gas.html">Ideal Gas</a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="text-decoration-none" style="color: orange" href="index.html">Real Gas</a>
        </div>
      </div>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container py-2">
        <a class="navbar-brand fs-3" href="#" style="color: orange">Cafluity <span style="color: white">.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Z-Factor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Density</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Specific Volume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Specific Grafity</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container my-5">
      <div class="row mb-4">
        <div class="col text-center">
          <h2>{{ title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col mx-4 mb-5">
          <form method="post">
            {% csrf_token %}
            <label for="gas-gravity" class="form-label">Gas Gravity</label>
            <div class="input-group mb-3">
              <input id="gas-gravity" type="text" class="form-control" name="gas-gravity" placeholder="0.7" value="{{gasGravity}}">
              <span class="input-group-text" id="basic-addon2" style="width: 70px"></span>
            </div>
            <label for="pressure" class="form-label">Pressure</label>
            <div class="input-group mb-3">
              <input id="pressure" type="text" class="form-control" name="pressure" placeholder="1000" value="{{pressure}}">
              <span class="input-group-text" id="basic-addon2" style="width: 70px; color: #524e4e;">PSIA</span>
            </div>
            <label for="temperature" class="form-label">Temperature</label>
            <div class="input-group mb-3">
              <input id="temperature" type="text" class="form-control" name="temperature" placeholder="300" value="{{temperature}}">
              <span class="input-group-text" id="basic-addon2" style="width: 70px; color: #524e4e;">&#xb0;F</span>
            </div>
            <label for="nitrogen" class="form-label">Nitrogen</label>
            <div class="input-group mb-3">
              <input id="nitrogen" type="text" class="form-control" name="nitrogen" placeholder="3.0" value="{{nitrogen}}">
              <span class="input-group-text" id="basic-addon2" style="width: 70px; color: #524e4e;">Mol &#x25;</span>
            </div>
            <label for="carbon-dioxide" class="form-label">Carbon Dioxide</label>
            <div class="input-group mb-3">
              <input id="carbon-dioxide" type="text" class="form-control" name="carbon-dioxide" placeholder="6.0" value="{{carbonDioxide}}">
              <span class="input-group-text" id="basic-addon2" style="width: 70px; color: #524e4e;">Mol &#x25;</span>
            </div>
            <label for="hydrogen-sulfide" class="form-label">Hydrogen Sulfide</label>
            <div class="input-group mb-3">
              <input id="hydrogen-sulfide" type="text" class="form-control" name="hydrogen-sulfide" placeholder="4.0" value="{{hydrogenSulfide}}">
              <span class="input-group-text" id="basic-addon2" style="width: 70px; color: #524e4e;">Mol &#x25;</span>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-warning mt-2" style="background-color: orange;">Calculate</button>
            </div>
          </form>
        </div>
        <div class="col mx-4">
          <p>Sutton's correlations along with Wichert and Aziz corrections are used to calculate pseudo critical temperature and pressure for the natural gas mixture.</p>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Pseudocritical Pressure</td>
                <td>{{ppc}}</td>
                <td>PSIA</td>
              </tr>
              <tr>
                <td>Pseudocritical Temperature</td>
                <td>{{Tpc}}</td>
                <td>&#xb0;R</td>
              </tr><tr>
                <td>Pseudoreduced Pressure</td>
                <td>{{ppr}}</td>
                <td></td>
              </tr>
              <tr>
                <td>Pseudoreduced Temperature</td>
                <td>{{Tpr}}</td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <p> Value of pseudoreduced pressure and pseudoreduced temperature is used to calculate compressibility factor z with several correlations.</p>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Azizi Behbahani Isazadeh's Z  Factor Correlation</td>
                <td><strong>{{zAzizi}}</strong></td>
              </tr>
              <tr>
                <td>Brill Begg's Z Factor Correlation</td>
                <td><strong>{{zBrillBegg}}</strong></td>
              </tr>
              <tr>
                <td>Drancuk-Abou Kassem's Z Factor Correlation</td>
                <td><strong>{{zDrancuk}}</strong></td>
              </tr>
              <tr>
              <tr>
                <td>Hall Yarbrough's Z Factor Correlation</td>
                <td><strong>{{zHallYarborough}}</strong></td>
              </tr>
              <tr>
                <td>Heidaryan's Z Factor Correlation</td>
                <td><strong>{{zHeidaryan}}</strong></td>
              </tr>
              <tr>
                <td>New Explicit Z Factor Correlation</td>
                <td><strong>{{zNewExplicit}}</strong></td>
              </tr>
              <tr>
                <td>Sanjari's Z Factor Correlation</td>
                <td><strong>{{zSanjari}}</strong></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h3>Graph</h3>
        </div>
        <div class="col text-center">
          <h3>Table</h3>
        </div>
      </div>
    </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
  </body>
</html>