{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'gas/img/logo.png' %}" type="image/gif" sizes="16x16">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'gas/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gas/css/bootstrap.min.css' %}">
    
    <title>Cafluity | Real Gas</title>
  </head>
  <body>

    <div class="container py-1">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <a class="text-decoration-none" href="/ideal-gas">Ideal Gas</a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="text-decoration-none" style="color: orange" href="/real-gas">Real Gas</a>
        </div>
        <div class="p-2 bd-highlight">
          <a class="text-decoration-none" href="/reference">Reference</a>
        </div>
      </div>
    </div>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container py-2">
        <a class="navbar-brand fs-3" href="/" style="color: orange">Cafluity <span style="color: white">.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav me-auto mb-2 mb-lg-0" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link {% if realGasProperty == 'zfactor'%} active {% endif %}" id="zfactor-tab" data-bs-toggle="pill" data-bs-target="#zfactor" type="button" role="tab" aria-controls="zfactor" aria-selected="{% if realGasProperty == 'zfactor'%} true {% else %} false {% endif %}">Z-Factor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if realGasProperty == 'density'%} active {% endif %}" id="density-tab" data-bs-toggle="pill" data-bs-target="#density" type="button" role="tab" aria-controls="density" aria-selected="{% if realGasProperty == 'density'%} true {% else %} false {% endif %}">Density</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if realGasProperty == 'specificvolume'%} active {% endif %}" id="specificvolume-tab" data-bs-toggle="pill" data-bs-target="#specificvolume" type="button" role="tab" aria-controls="specificvolume" aria-selected="{% if realGasProperty == 'specificvolume'%} true {% else %} false {% endif %}">Specific Volume</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="tab-content" id="pills-tabContent">
      
      <div id="zfactor" class="tab-pane fade {% if realGasProperty == 'zfactor'%} active show {% endif %}" role="tabpanel" aria-labelledby="zfactor-tab">
        <div class="container my-5">
          <div class="row mb-4">
            <div class="col text-center">
              <h2>Compressibility Factor</h3>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-5 mb-5 px-4">
              <form method="post" action="{% url 'real_gas' %}">
                {% csrf_token %}
                <input hidden="" type="text" name="realGasProperty" value="zfactor">
                <label for="gas-gravity" class="form-label">Gas Gravity</label>
                <div class="input-group mb-3">
                  <input required id="gas-gravity" type="number" step="0.0000001" class="form-control" name="gas-gravity" placeholder="0.7" value="{{gasGravity}}">
                  <span class="input-group-text" style="width: 80px"></span>
                </div>
                <label for="pressure" class="form-label">Pressure</label>
                <div class="input-group mb-3">
                  <input required id="pressure" type="number" step="0.0000001" class="form-control" name="pressure" placeholder="2000" value="{{pressure}}">
                  <span class="input-group-text" style="width: 80px; color: #524e4e;">PSIA</span>
                </div>
                <label for="temperature" class="form-label">Temperature</label>
                <div class="input-group mb-3">
                  <input required id="temperature" type="number" step="0.0000001" class="form-control" name="temperature" placeholder="300" value="{{temperature}}">
                  <span class="input-group-text" style="width: 80px; color: #524e4e;">&#xb0;F</span>
                </div>
                <label for="nitrogen" class="form-label">Nitrogen</label>
                <div class="input-group mb-3">
                  <input required id="nitrogen" type="number" step="0.0000001" class="form-control" name="nitrogen" placeholder="3.0" value="{{nitrogen}}">
                  <span class="input-group-text" style="width: 80px; color: #524e4e;">Mol &#x25;</span>
                </div>
                <label for="carbon-dioxide" class="form-label">Carbon Dioxide</label>
                <div class="input-group mb-3">
                  <input required id="carbon-dioxide" type="number" step="0.0000001" class="form-control" name="carbon-dioxide" placeholder="6.0" value="{{carbonDioxide}}">
                  <span class="input-group-text" style="width: 80px; color: #524e4e;">Mol &#x25;</span>
                </div>
                <label for="hydrogen-sulfide" class="form-label">Hydrogen Sulfide</label>
                <div class="input-group mb-3">
                  <input required id="hydrogen-sulfide" type="number" step="0.0000001" class="form-control" name="hydrogen-sulfide" placeholder="4.0" value="{{hydrogenSulfide}}">
                  <span class="input-group-text" style="width: 80px; color: #524e4e;">Mol &#x25;</span>
                </div>
                <div class="btn-group mb-3">
                  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white;">
                    Choose Z Factor Correlations
                  </button>
                  <ul class="dropdown-menu">
                    <li class="form-check" style="margin: 0 10px;">
                      <input class="form-check-input" name="abiCorrelation" type="hidden" value="false">
                      <input class="form-check-input" name="abiCorrelation" type="checkbox" value="abi" id="abi" {% for corr in correlation %}{% if corr == "abi" %}checked{% endif %}{% endfor %}>
                      <label class="form-check-label" for="abi">
                        Azizi, Behbahani, & Isazadeh
                      </label>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="form-check" style="margin: 0 10px;">
                      <input class="form-check-input" name="bbCorrelation" type="hidden" value="false">
                      <input class="form-check-input" name="bbCorrelation" type="checkbox" value="bb" id="bb" {% for corr in correlation %}{% if corr == "bb" %}checked{% endif %}{% endfor %}>
                      <label class="form-check-label" for="bb">
                        Brill & Begg
                      </label>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="form-check" style="margin: 0 10px;">
                      <input class="form-check-input" name="da-kCorrelation" type="hidden" value="false">
                      <input class="form-check-input" name="da-kCorrelation" type="checkbox" value="da-k" id="da-k" {% for corr in correlation %}{% if corr == "da-k" %}checked{% endif %}{% endfor %}>
                      <label class="form-check-label" for="da-k">
                        Dranchuk & Abou-Kassem
                      </label>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="form-check" style="margin: 0 10px;">
                      <input class="form-check-input" name="hyCorrelation" type="hidden" value="false">
                      <input class="form-check-input" name="hyCorrelation" type="checkbox" value="hy" id="hy" checked {% for corr in correlation %}{% if corr == "hy" %}checked{% endif %}{% endfor %}>
                      <label class="form-check-label" for="hy">
                        Hall & Yarborough
                      </label>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="form-check" style="margin: 0 10px;">
                      <input class="form-check-input" name="hmrCorrelation" type="hidden" value="false">
                      <input class="form-check-input" name="hmrCorrelation" type="checkbox" value="hmr" id="hmr" {% for corr in correlation %}{% if corr == "hmr" %}checked{% endif %}{% endfor %}>
                      <label class="form-check-label" for="hmr">
                        Heidaryan, Moghdasi, & Rahimi
                      </label>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="form-check" style="margin: 0 10px;">
                      <input class="form-check-input" name="neCorrelation" type="hidden" value="false">
                      <input class="form-check-input" name="neCorrelation" type="checkbox" value="ne" id="ne" {% for corr in correlation %}{% if corr == "ne" %}checked{% endif %}{% endfor %}>
                      <label class="form-check-label" for="ne">
                        Kareem, Iwalewa, & Al-Marhoun
                      </label>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li class="form-check" style="margin: 0 10px;">
                      <input class="form-check-input" name="snCorrelation" type="hidden" value="false">
                      <input class="form-check-input" name="snCorrelation" type="checkbox" value="sn" id="sn" {% for corr in correlation %}{% if corr == "sn" %}checked{% endif %}{% endfor %}>
                      <label class="form-check-label" for="sn">
                        Sanjiri & Nemati
                      </label>
                    </li>
                  </ul>
                </div>
                <div>
                  <button type="submit" class="btn btn-warning mt-2" style="background-color: darkorange; color: white">Calculate Z Factor</button>
                </div>
                {% if boundaryBool == 0 %}
                <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                  <p><strong>Outside the correlation boundaries!</strong></p>
                  {% for boundary in boundaries %}
                  <div class="mb-3">
                    {% for keyBoundary, BoundaryValues in boundary.items %}
                      {% if keyBoundary == "name" %}
                      <div><strong>{{ BoundaryValues }}</strong></div>
                      {% elif keyBoundary == "PprBoundary" %}
                      <div>
                        {% for key, value in BoundaryValues.items %}
                          {% if key == "minPpr" %}
                          {{ value }} <span>&#8804;</span> 
                          {% else %}
                          Pseudo-Reduced Pressure <span>&#8804;</span> {{ value }}
                          {% endif %}
                        {% endfor %}
                      </div>
                      {% elif keyBoundary == "TprBoundary" %}
                      <div>
                        {% for key, value in BoundaryValues.items %}
                          {% if key == "minTpr" %}
                          {{ value }} <span>&#8804;</span> 
                          {% else %}
                          Pseudo-Reduced Temperature <span>&#8804;</span> {{ value }}
                          {% endif %}
                        {% endfor %}
                      </div>
                      {% else %}
                      <div>with Pseudo-reduced Pressure cannot be equal to {{BoundaryValues}}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                  {% endfor %}
                  <p>Please check the data you entered!</p>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="px-3 mt-3">
                  <p>Sutton's corelations along with Wichert and Aziz corrections are used to calculate pseudo-critical temperature and pressure for the natural gas mixture.</p>
                  <table class="table table-borderless">
                    <tbody>
                      <tr>
                        
                        <td>Pseudo-Critical Pressure</td>
                        <td>{{ppc}}</td>
                        <td>PSIA</td>
                      </tr>
                      <tr>
                        <td>Pseudo-Critical Temperature</td>
                        <td>{{Tpc}}</td>
                        <td>&#xb0;R</td>
                      </tr><tr>
                        <td>Pseudo-Reduced Pressure</td>
                        <td>{{ppr}}</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Pseudo-Reduced Temperature</td>
                        <td>{{Tpr}}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                {% endif %}
              </form>
            </div>
          </div>
          {% if boundaryBool %}
          <div class="row mb-4 mt-3">
            <div class="col text-center">
              <h3>Results</h3>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-7 px-4">
              <p>Sutton's correlations along with Wichert and Aziz corrections are used to calculate pseudo-critical temperature and pressure for the natural gas mixture.</p>
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><a class="text-decoration-none" href="/reference/#ppc">Pseudo-Critical Pressure</a></td>
                    <td>{{ppc}}</td>
                    <td>PSIA</td>
                  </tr>
                  <tr>
                    <td><a class="text-decoration-none" href="/reference/#tpc">Pseudo-Critical Temperature</a></td>
                    <td>{{Tpc}}</td>
                    <td>&#xb0;R</td>
                  </tr>
                  <tr>
                    <td><a class="text-decoration-none" href="/reference/#ppr">Pseudo-Reduced Pressure</a></td>
                    <td>{{ppr}}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a class="text-decoration-none" href="/reference/#tpr">Pseudo-Reduced Temperature</a></td>
                    <td>{{Tpr}}</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              {% if zfactors %}
              <p> Value of pseudo-reduced pressure and pseudo-reduced temperature is used to calculate <strong>compressibility factor z</strong> with selected correlations.</p>
              <table class="table table-borderless">
                <tbody>
                  {% for zfactor in zfactors %}
                  <tr>
                    {% for key, value in zfactor.items %}
                      {% if key == "name" %}
                      <td>{{ value }}</td>
                      {% endif %}
                      {% if key == "zfactor" %}
                      <td><strong>{{ value }}</strong></td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p><strong>No correlation selected.</strong></p>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
        {% if boundaryBool %}
        <div class="container">
          <div class="row mb-3">
            {% if zfactorGraphs %}
            <div class="col text-center">
              <h3>Graph</h3>    
            </div>
            {% endif %}
          </div>
          <div class="row mb-5 d-flex justify-content-center">
            {% for zfactorGraph in zfactorGraphs %}
            <div class="col-sm-6 mb-3">
              <div class="card">
                <div class="card-body">
                </div>
                <img src="data:img/png;base64, {{zfactorGraph|safe}}" class="card-img-bottom">
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>

      <div id="density" class="tab-pane fade {% if realGasProperty == 'density'%} active show {% endif %}" role="tabpanel" aria-labelledby="density-tab">
        <div class="container my-5">
          <div class="row mb-4">
            <div class="col text-center">
              <h2>Density</h2>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-5 mx-4 mb-5">
              <form method="post" action="{% url 'real_gas' %}">
                {% csrf_token %}
                <input hidden="" type="text" name="realGasProperty" value="density">
                <label for="molarDensity" class="form-label">Apparent Molecular Weight</label>
                <div class="input-group mb-3">
                  <input required id="molarDensity" type="number" step="0.0000001" class="form-control" name="molarDensity" placeholder="20.272" value="{{molarDensity}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;">lb / lb-mol</span>
                </div>
                <label for="pressureDensity" class="form-label">Pressure</label>
                <div class="input-group mb-3">
                  <input required id="pressureDensity" type="number" step="0.0000001" class="form-control" name="pressureDensity" placeholder="2000" value="{{pressureDensity}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;">PSIA</span>
                </div>
                <label for="temperatureDensity" class="form-label">Temperature</label>
                <div class="input-group mb-3">
                  <input required id="temperatureDensity" type="number" step="0.0000001" class="form-control" name="temperatureDensity" placeholder="300" value="{{temperatureDensity}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;">&#xb0;F</span>
                </div>
                <label for="zfactorDensity" class="form-label">Z-Factor</label>
                <div class="input-group mb-3">
                  <input required id="zfactorDensity" type="number" step="0.0000001" class="form-control" name="zfactorDensity" placeholder="0.9612" value="{{zfactorDensity}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;"></span>
                </div>
                <div class="col mb-3">
                  <button type="submit" class="btn btn-warning mt-2" style="background-color: darkorange; color: white">Calculate Density</button>
                  <small style="color: #524e4e; display: block;">The value of each correlation Z Factor will be returned to the default</small>
                </div>
                <div class="input-group mb-3">
                  <input disabled="" class="form-control" placeholder="0.9612" value="{{density}}" style="color: #ed8505; font-weight: bold;">
                  <span class="input-group-text" style="width: 100px; background-color: darkorange; color: white">lb/ft3</span>
                </div>
              </form>
            </div>
            {% if correlationDensities %}
            <div class="col mx-4">
              <p> The following is the <strong>density value</strong> in <i>lb/ft3 unit</i> based on the z factor value for selected correlation</p>
              <table class="table table-borderless">
                <tbody>
                  {% for density in correlationDensities %}
                  <tr>
                    {% for key, value in density.items %}
                      {% if key == "name" %}
                      <td>{{ value }}</td>
                      {% endif %}
                      {% if key == "density" %}
                      <td><strong>{{ value }}</strong></td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div id="specificvolume" class="tab-pane fade {% if realGasProperty == 'specificvolume'%} active show {% endif %}" role="tabpanel" aria-labelledby="specificvolume-tab">
        <div class="container my-5">
          <div class="row mb-4">
            <div class="col text-center">
              <h2>Specific Volume</h2>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-sm-5 mx-4 mb-5">
              <form method="post" action="{% url 'real_gas' %}">
                {% csrf_token %}
                <input hidden="" type="text" name="realGasProperty" value="specificvolume">
                <label for="molarSV" class="form-label">Apparent Molecular Weight</label>
                <div class="input-group mb-3">
                  <input required id="molarSV" type="number" step="0.0000001" class="form-control" name="molarSV" placeholder="20.272" value="{{molarSV}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;">lb / lb-mol</span>
                </div>
                <label for="pressureSV" class="form-label">Pressure</label>
                <div class="input-group mb-3">
                  <input required id="pressureSV" type="number" step="0.0000001" class="form-control" name="pressureSV" placeholder="2000" value="{{pressureSV}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;">PSIA</span>
                </div>
                <label for="temperatureSV" class="form-label">Temperature</label>
                <div class="input-group mb-3">
                  <input required id="temperatureSV" type="number" step="0.0000001" class="form-control" name="temperatureSV" placeholder="300" value="{{temperatureSV}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;">&#xb0;F</span>
                </div>
                <label for="zfactorSV" class="form-label">Z-Factor</label>
                <div class="input-group mb-3">
                  <input required id="zfactorSV" type="number" step="0.0000001" class="form-control" name="zfactorSV" placeholder="0.9612" value="{{zfactorSV}}">
                  <span class="input-group-text" style="width: 100px; color: #524e4e;"></span>
                </div>
                <div class="col mb-3">
                  <button type="submit" class="btn btn-warning mt-2" style="background-color: darkorange; color: white">Calculate Specifiv Volume</button>
                  <small style="color: #524e4e; display: block;">The value of each correlation Z Factor will be returned to the default</small>
                </div>
                <div class="input-group mb-3">
                  <input disabled="" class="form-control" placeholder="0.9612" value="{{specificvolume}}" style="color: #ed8505; font-weight: bold;">
                  <span class="input-group-text" style="width: 100px; background-color: darkorange; color: white">ft3/lb</span>
                </div>
              </form>
            </div>
            {% if correlationDensities %}
            <div class="col mx-4">
              <p> The following is the <strong>specific volume value</strong> in <i>ft3/lb unit</i> based on the z factor value for selected correlation</p>
              <table class="table table-borderless">
                <tbody>
                  {% for specificvolume in correlationSpecificvolumes %}
                  <tr>
                    {% for key, value in specificvolume.items %}
                      {% if key == "name" %}
                      <td>{{ value }}</td>
                      {% endif %}
                      {% if key == "specificvolume" %}
                      <td><strong>{{ value }}</strong></td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

    </div>

    <div class="container py-1">
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <h6 style="color: darkorange">&copy; Copyright 2021 Cafluity.</h6>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script> -->
    
  </body>
</html>